*{
    padding: 0%;
    margin: 0%;
    font-family: arial;
}

.wrapper{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

nav{
    display: block;
    height: 80px;
    background-color: gray;
}

.img-info{
    width: 100%;
}

.img-info h1{
    display: inline-flex;
    padding: 30px 10px 10px 30px;
    font-size: 35px;
    color: #111;    
    line-height: 44px;
}

.img-info .info{
    list-style-type:none; 
    /* kode for å gjemme bulletpoints fra ul lista */
    padding:0px 30px 20px;
    font-family: arial;
    font-size: 14px;
    color: #111;    
    line-height: 24px;
}
.img-me{
    width: 26%;
    margin:0px;
    margin:30px 10px 0px 0px;
    float: right;
    border-radius:140px;
}

.img-info h2{
    padding:0px 30px 20px;
    font-size: 20px;
    color: #111;    
    line-height: 24px;
}

.img-info p{
    padding:0px 30px 20px;
    font-size: 14px;
    color: #111;    
    line-height: 24px;
}

.img-info h3{
    padding:0px 30px 20px;
    font-size: 18px;
    color: #111;    
    line-height: 24px;
}

.arbeids-erfaring h2{
    padding-bottom: 10px;
}
.arbeids-erfaring h3{
    padding-bottom: 0px;
}
.arbeids-erfaring p{
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 14px;
    color: #111;    
    line-height: 20px;
}
.arbeids-erfaring ul{
    padding:0px 30px 20px 45px;
    font-size: 12px;
    color: #111;    
}


