*{
    padding: 0%;
    margin: 0%;
    font-family: arial;
    text-decoration: none;
}
header{
    height: 80px;
    background-color:white ;
}

header nav a{
    color:#111;
    font-family: 'Catamaran', sans-serif;
}

header nav ul{
    box-sizing: content-box;

}

header nav li{
    float: left;
    display: inline-block;
    line-height: 30px;
    padding-left: 20px;
    /* 80px-30px = 50px, 50px/2 = 25px */
    margin-top: 25px;

    list-style: none;
}

header nav .kontakt-meg{
    width: fit-content;
    line-height: 30px;
    padding: 0 2px;
    display: block;
    float: right; 
    box-sizing: border-box;
    border: #111 solid 1px;

    /* 80px-30px = 50px, 50px/2 = 25px, for å sentre knappen */
    margin-top: 25px;
    margin-right: 20px;

}

body{
    background-color: #f3f3f3;
    color:#111;
}
.wrapper{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.wrapper ul{
    padding:0px 30px 20px 14%;
    font-size: 12px;
}

.img-info{
    width: 100%;
}

.img-info h1{
    display: inline-flex;
    padding: 30px 10px 10px 10%;
    font-size: 35px;
    line-height: 44px;
}

.img-info .info{
    list-style-type:none; 
    /* kode for å gjemme bulletpoints fra ul lista */
    padding:0 0 0 10%;
    font-family: arial;
    font-size: 14px;
    line-height: 24px;
}
.img-me{
    display:none;
    width: 23%;
    margin:0px;
    margin:30px 10px 0px 0px;
    float: right;
    border-radius:140px;
}

.img-info h2{
    padding:30px 0px 20px 10%;
    font-size: 20px;
    line-height: 24px;
}
h2::after{
    content: " ";
    display: block;
    height: 2px;
    width: 90%;
    background-color: #111;
}

.img-info h3{
    padding:0 0 0 10%;
    font-size: 17px;
    line-height: 24px;
}

.img-info p{
    padding:0px 30px 2px 10%;
    font-size: 14px;
    line-height: 24px;
}

.utdanning h2{
    padding-top:10px;
}

.wrapper .img-info .referanser{
    line-height: 12px;
    font-size: 11px;
} 
/* her i fra skal jeg gjøre siden respinsive */
@media only screen and (min-width: 414px){
    .img-me{
        display: block;
    }
}

@media only screen and (min-width: 768px){
    .img-me{
        display: block;
        width: 20%;
        margin-right: 5%;
    }
}
