*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 90%;
    background-color: #111;
    text-align: center;
}
.container h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container input[type=text]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    transition: .3s;
}
.container input[type=text]:focus{
    border-color: white;
    box-shadow:0 0 8px 0 white; 
}
.container textarea{
    /* float:left;
    clear: right; */
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 0 0 8px 0; 
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    transition: .3s;
}
.container  textarea:focus{
    border-color: white;
    box-shadow:0 0 8px 0 white; 
}
.container button{
    height: 30px;
    width: 100px;
    border: darkgray solid 2px;
    border-radius: 4px;
    outline: none;
    margin: 0 auto;
    transition: .3s;
    cursor: pointer;
}
.container button:hover{
    border: solid 2px #111;
}