/* Importerte fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: arial;
    text-decoration: none;
}

header{
    height: 80px;
    background-color:white;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    position:sticky;
    top: 0;
}

header nav h1{
    float: left;
    margin-left:5%;
    font-size: 24px;
    font-weight: 100;
    line-height: 80px;
    color:#111;
    font-family: 'Catamaran', sans-serif;
}

header nav a{
    color:#111;
    font-family: 'Catamaran', sans-serif;
}

header nav li{
    float: left;
    display: inline-block;
    line-height: 30px;
    padding-left: 20px;
    /* 80px-30px = 50px, 50px/2 = 25px */
    margin-top: 25px;

    list-style: none;
}

header nav .kontakt-meg{
    width: fit-content;
    padding: 0 2px;
    display: block;
    float: right; 
    box-sizing: border-box;
    border: #111 solid 1px;

    /* 80px-30px = 50px, 50px/2 = 25px, for å sentre knappen */
    margin-top: 23px;
    margin-right: 5%;
}

body{
    background-color: white;
    color:#111;
}
.wrapper{
    background-color: yellow;
    width: 90%;
    padding: 0px;
    margin: 0 auto;
}
.wrapper ul{
    padding:0px 0px 20px 4%;
    font-size: 12px;
}

.img-info{
    width: 100%;
}

.img-info h1{
    display: inline-block;
    padding: 30px 0;
    font-size: 35px;
    line-height: 44px;
}

.img-info .info{
    list-style-type:none; 
    /* kode for å gjemme bulletpoints fra ul lista */
    padding:0;
    font-family: arial;
    font-size: 14px;
    line-height: 24px;
}
.img-me{
    display:none;
    width: 100px;
    margin:10px 0;
    float: right;
    box-sizing: border-box;
    border: #111 2px solid;
    border-radius:140px;

}

.img-info h2{
    padding:30px 0 4% 0;
    font-size: 20px;
    line-height: 24px;
}
h2::after{
    content: " ";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #111;
}

.img-info h3{
    font-size: 17px;
    line-height: 24px;
}
.img-info h3:first-child(1){
    padding-top:500px;
}

.img-info p{
    padding:0px 0 2px 0;
    line-height: 24px;
}

.utdanning h2{
    padding-top:10px;
}

.wrapper .img-info .referanser{
    line-height: 12px;
    font-size: 11px;
} 

footer{
    margin-top: 50px;
    height: 50px;
    width: 100%;
    background-color: #111; 
    color: #f1f1f1;
    text-align: center;
}
footer p {
        line-height: 24px;
}
p{    font-size: 14px;}

/* her i fra skal jeg gjøre siden respinsive */
@media only screen and (min-width: 414px){
    .img-me{
        display: block;
    }
}

@media only screen and (min-width: 768px){
    header{
        height: 100px;
    }
    header nav h1{
        font-size: 50px;
        line-height: 100px;
    }
    header nav .kontakt-meg{
        font-size: 25px;
        line-height: 40px;
        padding: 0 4px;
        /* 80px-30px = 50px, 50px/2 = 25px, for å sentre knappen */
        margin-top: 25px;
    }
    .img-info h1{
        font-size:45px;
    }
    .img-info .info{
        font-size: 20px;
    }
    .img-info h2{
        font-size: 25px;
        line-height: 24px;
    }



    
    p{font-size: 20px;}
}
